<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>MS Craftshop</title>
	</head>
	<body>
		<div style="width:100%; height: 100%; background: #f2f2f2; box-shadow: 0px 0px 4px #292929; font-family: Helvetica, Arial, sans-serif; font-size: 1.1em; box-sizing: border-box;">
			<div style="margin-left: 1em; margin-right: 1em; padding-top: 1em; padding-bottom: 1em; box-sizing: border-box;">
				<p style="color: #262626;text-shadow: 0px 2px 1px #fafafa; font-size: 1.15em">
				Szanowni Pa&#324;stwo,
				</p>
				<p style="color: #262626;text-shadow: 0px 2px 1px #fafafa;">
				Pragn&#281; gor&#261;co zaprosi&#263; do zapoznania si&#281; z ofert&#261; reklamow&#261; pracowni MS Craftshop Artystyczne Dekorowanie Przedmiot&#243;w. Oferta dotyczy produkt&#243;w reklamowych w wydaniu ca&#322;orocznym i &#347;wi&#261;tecznym. Dzi&#281;ki swej oryginalno&#347;ci i mo&#380;liwo&#347;ci dopasowania zaprezentowanych przedmiot&#243;w do specyficznych potrzeb, doskonale odnajduj&#261; si&#281; w ka&#380;dej okoliczno&#347;ci i dla ka&#380;dej grupy odbiorc&#243;w.
				</p>
				<p style="color: #262626;text-shadow: 0px 2px 1px #fafafa;">
				Szczeg&#243;&#322;y oferty znajd&#261; Pa&#324;stwo pod linkiem: 
					<a style="color: #2e4ea9; text-shadow: 0px 2px 1px #fafafa;" href="https://www.mscraftshop.com/oferta.pdf">https://www.mscraftshop.com/oferta.pdf</a>.
				</p>
				<p style="color: #262626;text-shadow: 0px 2px 1px #fafafa;">
				Wierz&#281;, &#380;e propozycja spotka si&#281; z Pa&#324;stwa zainteresowaniem i zapraszam serdecznie do wsp&#243;&#322;pracy.
				</p>
				<p style="color: #262626;text-shadow: 0px 2px 1px #fafafa;">
					<b>
					Oryginalno&#347;&#263; to klucz do podarunku, kt&#243;ry ka&#380;dy zauwa&#380;y, zapami&#281;ta i doceni.
					</b>
				</p>
				<p style="color: #262626;text-shadow: 0px 2px 1px #fafafa;">
				Pozdrawiam serdecznie,
				</p>
				<p style="color: #262626;text-shadow: 0px 2px 1px #fafafa;">
				Ma&#322;gorzata Schirok Craftshop 
				<br/>
				<a style="color: #2e4ea9; text-shadow: 0px 2px 1px #fafafa;" href="https://www.mscraftshop.com">www.mscraftshop.com</a>
				</p>
			</div>
		</div>
	</body>
</html>