<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>MS Craftshop</title>
	</head>
	<body>
		<div style="width:100%; height: 100%; background: #f2f2f2; box-shadow: 0px 0px 4px #292929; font-family: Helvetica, Arial, sans-serif; font-size: 1.2em;">
			<p style="color: #262626;text-shadow: 0px 2px 1px #fafafa;">Hello,</p>
			<p style="color: #262626;text-shadow: 0px 2px 1px #fafafa;">Welcome to MS Craftshop @ https://mscraftshop.com/oferta.pdf</p>
			<p style="color: #262626;text-shadow: 0px 2px 1px #fafafa;">Kind Regrds</p>
		</div>
	</body>
</html>