{% extends 'layout.html' %}

{% import "components/media/preview.njk" as mediaPreviewPanel %}
{% import "components/category/select/preview.njk" as categoryPreviewPopup %}
{% import "components/category/select/panel.njk" as categoryPreviewPanel %}
{% import "components/gallery/gallery.njk" as galleryPreviewPanel %}
{% import "components/base/dropdown.njk" as dropdown %}
{% import "components/blog/sections.njk" as blogSections %}

{% block script %}
  {% include "control/blogNewItem.js" %}
  {% include "components/media/preview.js" %}
  {% include "components/category/select/preview.js" %}
  {% include "components/category/select/panel.js" %}
  {% include "components/gallery/gallery.js" %}
{% endblock script %}

{% block css%}
  {% include "components/base/checkbox.css" %}
  {% include "components/base/dropdown.css" %}
  {% include "components/category/category.css" %}
  {% include "components/media/preview.css" %}
  {% include "components/category/select/preview.css" %}
  {% include "components/category/select/panel.css" %}
  {% include "components/gallery/gallery.css" %}
  {% include "style/blogNewItem.css" %}
{% endblock css%}

{% block onload %}
  createMediaPreviewPanel("new-blog-item-media-select");
  createCategoryPreviewPopup("new-blog-item-category-select");
  createCategoryPreviewPanel("new-blog-item-category-select-panel", "new-blog-item-category-select");
  createBlogManager();
  {% if admin and item %}
    {{ blogSections.renderEditOnLoadJs("#new-blog-item-section-type-add", item.sections) }}
  {% endif %}
{% endblock onload %}

{% block content %}
  {{ mediaPreviewPanel.render("new-blog-item-media-select", images, videos, true) }}
  {{ categoryPreviewPopup.render("new-blog-item-category-select", categories, true) }}
  <div id="new-blog-item" class="panel">
    <h2 class="robo-text">New Blog Item</h2>
    <div class="new-blog-item-layout">
      <h2 class="text-invert">Title</h2>
      <input id="caption" class="text" type="text" placeholder="Item's title" name="title" autofocus="true" required="true" value="{{item.caption}}">
      <br />
      <h2 class="text-invert">Thumb image</h2>
      <div id="{{item.thumb}}" class="thumb-preview" type="image" {% if item %} style="background-image: url(/image/{{item.thumb}}?width=1920);" {% endif %} onclick="mediaThumbClicked(event, 'images')"></div>
      <br />
      <h2 class="text-invert">Description</h2>
      <textarea id="description" class="text" type="text" placeholder="Item's description" name="desc" required="true">{{item.description}}</textarea>
      <br />
      <h2 class="text-invert">Categories</h2>
      {{ categoryPreviewPanel.render("new-blog-item-category-select-panel", categories, item.categories) }}
      <br />
      <h2 class="text-invert">Blog post content</h2>
      {{ dropdown.render("new-blog-item-section-type-add", "Add section", [
        { text: "Header", callback: "addBlogHeaderSection" },
        { text: "Text", callback: "addBlogTextSection" },
        { text: "Media", callback: "addBlogMediaSection" },
        { text: "Gallery", callback: "addBlogGallerySection" } ],
        "up") 
      }}
      <br />
      <br />
      {% if item %}
        <div class="common-btn green" onclick="updateBlogItem(event, '{{item.id}}')">Update</div>
      {% else %}
      <div class="common-btn green" onclick="createBlogItem(event)">Create</div>
        <a href="/shop">
          <div class="common-btn red">Cancel</div>
        </a>
      {% endif %}
      <br />
      <br />
    </div>
  </div>
{% endblock content %}