{% extends 'layout.html' %}

{% import "components/blog/sections.njk" as blogSections %}
{% import "components/navigation/sidebar.njk" as sidebar %}

{% block script %}
  {% include "control/blogItem.js" %}
  {% include "components/gallery/gallery.js" %}
{% endblock script %}

{% block css%}
  {% include "components/gallery/gallery.css" %}
  {% include "components/navigation/sidebar.css" %}
  {% include "style/blogItem.css" %}
{% endblock css%}

{% block onload %}
  {{ blogSections.renderOnLoadJs(item.sections) }}
{% endblock onload %}

{% block content %}
  {{ sidebar.render("blog", "item", item.id, items, "/blog/category/" + category) }}
  <div id="blog-item" class="panel">
    <h1 class="robo-text">Blog Item</h1>
    <div class="blog-item-layout">
      <h1 id="caption" class="text">{{item.caption}}</h1>
      <br />
      {{ blogSections.render(item.sections) }}
      {% if admin %}
        <a href="/blog/edit/{{item.id}}">
          <div class="common-btn blue">Edit</div>
        </a>
        <a href="/blog/delete/{{item.id}}">
          <div class="common-btn red">Delete</div>
        </a>
        <br />
      {% endif %}
      <br />
    </div>
  </div>
{% endblock content %}