{% extends 'layout.html' %}

{% import "components/blog/thumbs.njk" as blogThumbs %}
{% import "components/navigation/sidebar.njk" as sidebar %}

{% block script %}{% endblock script %}

{% block onload %}{% endblock onload %}

{% block css%}
  {% include "components/blog/thumbs.css" %}
  {% include "components/navigation/sidebar.css" %}
{% endblock css%}

{% block content %}
  {{ sidebar.render("blog", id, categories, admin) }}
  <div id="blog" class="panel">
    <h2 class="robo-text">Blog</h2>
    {% if admin and id != "none" %}
      <div class="page-controls">
        <div class="page-controls-inner">
          <a href="/blog/category/edit/{{id}}">
            <div class="common-btn blue no-select">Edit Category</div>
          </a>
          <a href="/blog/category/delete/{{id}}">
            <div class="common-btn red no-select">Delete Category</div>
          </a>
        </div>
      </div>
    {% endif %}
    <h2 class="text-invert">{{header}}</h2>
    <div class="blog-item-thumb-layout">
      {{ blogThumbs.render("blog-items", "/blog/item", items ) }}
    </div>
  </div>
{% endblock content %}