{% extends 'index.html' %}

{% block menu %}
		<div id="main_menu" class="written-text no-select">
				<span>
						<div id="about" class="menu_item noselect" scrollto="about_panel">About</div>
						<div id="workshop" class="menu_item noselect" scrollto="blog_panel">Blog</div>
						<div id="shop" class="menu_item noselect" scrollto="shop_panel">Shop</div>
						<div id="gellery" class="menu_item noselect" scrollto="gallery_panel">Gallery</div>
						<div id="contact" class="menu_item noselect" scrollto="contact_panel">Contact</div>
				</span>
		</div>
{% endblock %}