{% extends 'layout.html' %}

{% import "components/gallery/gallery.njk" as galleryPreviewPanel %}
{% import "components/navigation/sidebar.njk" as sidebar %}

{% block script %}
  {% include "components/gallery/gallery.js" %}
{% endblock script %}

{% block css%}
  {% include "components/gallery/gallery.css" %}
  {% include "style/galleryCategoryItems.css" %}
  {% include "components/navigation/sidebar.css" %}
{% endblock css%}

{% block onload %}
  createGalleryPreviewPanel("gallery-item-gallery");
{% endblock onload %}

{% block content %}
  {{ sidebar.render("gallery", "category", id, categories, "/gallery") }}
  <div class="panel">
    <h2 class="robo-text">Gallery</h2>
    {% if admin and id != "none" %}
      <div class="page-controls">
        <div class="page-controls-inner">
          <a href="/gallery/category/edit/{{id}}">
            <div class="common-btn blue no-select">Edit Category</div>
          </a>
          <a href="/gallery/category/delete/{{id}}">
            <div class="common-btn red no-select">Delete Category</div>
          </a>
        </div>
      </div>
    {% endif %}
    <div class="gallery-layout">
      <h2 class="text-invert">{{header}}</h2>
      {{ galleryPreviewPanel.render("gallery-item-gallery", gallery) }}
    </div>
  </div>
{% endblock %}