<!DOCTYPE html>
<html>
  <head>
    <div id="loader">
      <div>
        Loading
      </div>
    </div>
    <style>
      {% include "style/site.css" %}
      {% block css %}
      {% endblock css %}
    </style>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Julius Zukaskas" />
    <script type="text/javascript">
      function debug() {
        {% if debug %}
          if (typeof console !== "undefined") {
            console
              .log
              .apply(console, arguments);
          }
        {% endif %}
      }
      "use strict";
      window.addEventListener("load", () => {
        debug("loaded");
        {% include "components/loader.js" %}
        {% include "components/registerFeature.js" %}
        {% block onload %}{% endblock onload %}
      });
      {% block script %}{% endblock script %}
    </script>

    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="/favicons/manifest.json" />
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5" />
    {% block link %}{% endblock link %}
    <meta name="theme-color" content="#ffffff" />
    <title>MS Craftshop</title>
  </head>
  <body data-admin="{{ admin }}">
    <h1 class="robo-text">MS Craftshop</h1>
    <div id="header">
      <div id="title" class="main-title noselect"></div>
      <div id="main-menu" class="no-select">
        <span>
          <div class="menu-item noselect">
            <div class="menu-dropdown text noselect">
              <a href="/about"><div>About</div></a>
            </div>
          </div>
          <div class="menu-item noselect">
            <div class="menu-dropdown text noselect">
              <a href="/blog"><div>Blog</div></a>
            </div>
          </div>
          <div class="menu-item noselect">
            <div class="menu-dropdown text noselect">
              <a href="/shop"><div>Shop</div></a>
            </div>
          </div>
          <div class="menu-item noselect">
            <div class="menu-dropdown text noselect">
              <a href="/gallery"><div>Gallery</div></a>
            </div>
          </div>
          <div class="menu-item-split noselect"></div>
          {% if admin %}
              <div class="menu-item noselect">
                <div class="menu-dropdown text noselect">
                  <a href="/manager"><div>Manager</div></a>
                </div>
                <div class="menu-dropdown-content">
                    <div class="menu-dropdown-item text">
                      <a href="/manager">Manager</a>
                    </div>
                    <div class="menu-dropdown-item text">
                      <a href="/logout">Logout</a>
                    </div>
                </div>
              </div>
          {% elif username %}
            <div class="menu-item noselect">
              <div class="menu-dropdown text noselect">
                <a href="/home"><div>Hello, {{forename}} {{surname}}</div></a>
              </div>
            </div>
          {% else %}
            <div class="menu-item noselect">
              <div class="menu-dropdown text noselect">
                <a href="/login"><div>Login</div></a>
              </div>
            </div>
          {% endif %}
          <div class="menu-item icon noselect">
            <div class="menu-dropdown text noselect">
              <a href="/basket"><div></div></a>
            </div>
          </div>
        </span>
      </div>
    </div>
    <div id="content">
      {% block content %}{% endblock content %}
    </div>
  </body>
</html>