{% extends 'layout.html' %}
{% import "components/shop/thumbs.njk" as shopThumbs %}

{% block script %}{% endblock script %}

{% block onload %}{% endblock onload %}

{% block css%}
  {% include "components/shop/thumbs.css" %}
{% endblock css%}

{% block content %}
  <div id="shop" class="panel">
    <h2 class="robo-text">Shop</h2>
    {% if admin and id != "none" %}
      <div class="page-controls">
        <div class="page-controls-inner">
          <a href="/shop/category/edit/{{id}}">
            <div class="common-btn blue no-select">Edit Category</div>
          </a>
          <a href="/shop/category/delete/{{id}}">
            <div class="common-btn red no-select">Delete Category</div>
          </a>
        </div>
      </div>
    {% endif %}
    <div class="shop-item-thumb-layout">
      {{ shopThumbs.render("shop-items", "/shop/item", "&#163", items ) }}
    </div>
  </div>
{% endblock content %}