{% extends 'layout.html' %}

{% import "components/gallery/gallery.njk" as galleryPreviewPanel %}
{% import "components/navigation/sidebar.njk" as sidebar %}

{% block script %}
  {% include "control/shopItem.js" %}
  {% include "components/gallery/gallery.js" %}
{% endblock script %}

{% block css%}
  {% include "components/gallery/gallery.css" %}
  {% include "components/navigation/sidebar.css" %}
  {% include "style/shopItem.css" %}
{% endblock css%}

{% block onload %}
  createGalleryPreviewPanel("shop-item-gallery");
  
{% endblock onload %}

{% block content %}
  {{ sidebar.render("shop", "item", item.id, items, "/shop/category/" + category) }}
  <div id="shop-item" class="panel">
    <h1 class="robo-text">Shop Item</h1>
    <div class="shop-item-layout">
      {{ galleryPreviewPanel.render("shop-item-gallery", item.gallery) }}
      <div class="info-block">
        <h2 id="caption" class="text">{{item.caption}}</h2>
        <br />
        <h1 id="price" class="text" currency="&#163">{{item.price}}</h1>
        <br />
        <div class="common-btn green">Order</div>
        {% if admin %}
          <a href="/shop/edit/{{item.id}}">
            <div class="common-btn blue">Edit</div>
          </a>
          <a href="/shop/delete/{{item.id}}">
            <div class="common-btn red">Delete</div>
          </a>
        {% endif %}
        <br />
        <br />
        <h3 id="description" class="text">{{item.description | escape | nl2br }}</h3>
      </div>
    </div>
  </div>
{% endblock content %}