{% macro render (root, section, current, items, back_link, admin) %}
  {% if items %}
    <div class="navigation-menu animate">
      <a href="{{back_link}}"><div class="common-btn blue">&#10094;</div></a>
      <div class="navigation-menu-internal">
        {% if admin %}
          {% set active = current == "none" %}
          <a href="/{{ root }}/{{ section }}/none">
            <div active="{{active}}" class="category-item">
              <div class="category-item-internal">
                <div class="category-item-text text-invert">
                  <div class="category-item-caption">Uncategorised</div> 
                </div>
                <div class="category-item-image" style="background-image: url(/images/construction.jpg);"></div>
              </div>
            </div>
          </a>
        {% endif %}
        {% for item in items %}
          <a href="/{{ root }}/{{ section }}/{{ item.id }}">
            {% set active = current | string == item.id | string %}
            <div id="{{ item.id }}" active="{{active}}" class="category-item">
              <div class="category-item-internal">
                <div class="category-item-text text-invert">
                  <div class="category-item-caption">{{item.caption}}</div> 
                </div>
                <div class="category-item-image" style="background-image: url(/image/{{item.thumb}}?width=800);"></div>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endmacro %}