{% extends 'index.html' %}

{% block menu %}
	<div id="main_menu" class="written-text no-select">
		<span>
			<div id="about" class="menu_item noselect" scrollto="about_panel" lang="about">About</div>
			<div id="workshop" class="menu_item noselect" scrollto="workshop_panel" lang="workshop">Workshops</div>
			<div id="shop" class="menu_item noselect" scrollto="shop_panel" lang="shop">Shop</div>
			<div id="order" class="menu_item noselect" scrollto="order_panel" lang="orders">Orders</div>
			<div id="gellery" class="menu_item noselect" scrollto="gallery_panel" lang="gallery">Gallery</div>
			<div id="contact" class="menu_item noselect" scrollto="contact_panel" lang="contact">Contact</div>
		</span>
	</div>
{% endblock %}