{% extends 'layout.html' %}

{% block content %}
<div id="purchase">
	{% if status == true %}
	<div id="purchase_success">
		<div class="order-message-head text">Dziękuję</div>
		<div class="order-id text">Nr zamówienia <span>{{ payment.id }}</span></div>
		<div class="order-message text">Państwa zamówienie zostało pomyślnie zakończone i wkrótce otrzymacie potwierdzenie zamówienia. Mamy nadzieję, że będą Państwo zadowoleni z zakupów i zapraszamy do sklepu ponownie.
		<br/><br/>
		Pozdrawiamy serdecznie.
		</div> 
		<div class="order-to-store text-invert" onclick="window.location.href='/'">Powrót do sklepu</div>
	</div>
	{% else %} 
	<div id="purchase_error">
		<div class="order-message-head header-text">Przepraszamy</div>
		<div class="order-message text">Wystąpił problem podczas przetwarzania płatności. Przykro nam za powstałe niedogodności. Proszę upewnić się czy dane do płatności zostały poprawnie podane i spróbuj jeszcze raz. Jeśli sytuacja będzie się powtarzała, proszę zgłosić problem za pomocą formularza kontaktowego.
		<br/><br/>
		Dziękuję</div>
		<div class="order-to-store text-invert" onclick="window.location.href='/'">Powrót do sklepu</div> 
	</div>
</div>
{% endif %}
{% endblock %}
