.about-layout {
  margin-left: 9vw;
  padding-top: 2vw;
}

.h-layout {
  position: relative;
  display: block;
  width: 80vw;
  min-width: 720px;
  margin: 0px auto;
}

.v-layout {
  position: relative;
  display: table;
  width: 100%;
  border-spacing: 10px 0px;
  margin: 0px -10px;
  padding-bottom: 20px;
}

.thumb-preview {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-image: url(/images/add.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid var(--base-blue);
  border-radius: 4px;
  background-color: var(--base-light);
}

.thumb-preview:not([style*="background-image"]) {
  background-size: 120px;
}

.thumb-preview:not([style*="background-image"]):hover {
  background-image: url(/images/add-white.png);
  background-color: var(--base-mid);
}

#description {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 0px;
}

textarea#description {
  border: 1px solid var(--base-blue);
  min-height: 400px;
  width: 100%;
  resize: vertical;
  overflow: auto;
}

textarea#description::selection,
textarea#description::-moz-selection {
  background-color: var(--hilight-blue);
}

#info-block,
#form {
  min-width: 320px;
}

#info-block h2,
#form h2 {
  display: block;
  line-height: 60px;
  height: 60px;
}

#media {
  position: relative;
  display: inline-block;
  width: 210px;
  height: 60px;
}

#media a {
  display: inline-block;
  margin-left: 10px;
}

#media a:first-child {
  margin-left: 0px;
}

#media div {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: center;
}

#facebook {
  background-image: url(images/media/facebook.png);
}

#instagram {
  background-image: url(images/media/instagram.png);
}

#youtube {
  background-image: url(images/media/youtube.png);
}

input,
textarea {
  display: block;
  background-color: var(--base-light);
  border: 1px solid var(--base-blue);
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.4em;
  line-height: 1.6em;
}

textarea {
  min-height: 200px;
}

@media only screen and (min-width: 1080px) {
  .v-layout > * {
    display: table-cell;
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
  }

  .v-layout > div:nth-child(1)
  {
    text-align: right;
  }

  .v-layout> div:nth-child(2)
  {
    text-align: left;
  }

  .thumb-preview {
    height: 22.5vw;
    max-height: 22.5vw;
  }
}

@media only screen and (max-width: 1080px) {
  .v-layout > * {
    width: 100%;
    display: block;
    text-align: left;
  }

  .thumb-preview {
    height: 45vw;
    max-height: 45vw;
    min-height: 405px;
  }
}
