.new-blog-item-layout {
  display: block;
  position: relative;
  width: 50vw;
  margin-left: 25vw;
}

.new-blog-item-layout h2 {
  display: block;
  font-size: 1.5em;
  line-height: 1.6em;
  width: 100%;
}

.new-blog-item-layout > input, .blog-section-wrapper > input,
.new-blog-item-layout > textarea, .blog-section-wrapper > textarea {
  display: block;
  border: 1px solid var(--base-dark);
  border-radius: 4px;
  width: 100%;
  color: var(--text-color);
  box-sizing: border-box;
  font-size: 1.2em;
  background-color: var(--base-light);
  min-height: 2em;
}

.new-blog-item-layout input:focus {
  border: 1px solid var(--base-dark);
  border-radius: 4px;
  background-color: var(--base-light);
}

.new-blog-item-layout textarea {
  min-height: 300px;
}

.new-blog-item-layout ::selection,
.new-blog-item-layout ::-moz-selection {
  background: var(--hilight-blue);
}

.new-blog-item-layout .thumb-preview[style*="background-image"] {
  background-size: cover;
}

.new-blog-item-layout .thumb-preview {
  height: 28.125vw;
  background-image: url(/images/add.png);
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--base-dark);
  border-radius: 4px;
  background-color: var(--base-light);
}

.new-blog-item-layout .thumb-preview:not([style*="background-image"]):hover {
  background-image: url(/images/add-white.png);
  background-color: var(--base-dark);
}

.thumb-preview iframe {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

#new-blog-item-category-select-panel .category-select-panel-inner {
  min-height: 7.5vw;
}

#new-blog-item-category-select-panel .category-select-panel-inner:empty {
  background-image: url(/images/add.png);
  background-repeat: no-repeat;
  background-size: 7vw;
  background-position: center;
}

#new-blog-item-category-select-panel:hover {
  background-color: var(--base-dark);
}

#new-blog-item-category-select-panel .category-select-panel-inner:empty:hover {
  background-image: url(/images/add-white.png);
}

#new-blog-item-category-select-panel .category-item {
  background-color: var(--base-dark);
}

#new-blog-item-category-select-panel {
  width: 100%;
  display: inline-block;
  border: 1px solid var(--base-dark);
  border-radius: 4px;
  background-color: var(--base-light);
  overflow: auto;
}

.gallery-container {
  width: 100%;
  border: 1px solid var(--base-dark);
  border-radius: 4px;
  background-color: var(--base-light);
}

.blog-section-wrapper {
  position: relative;
  margin-top: 20px;
  box-sizing: border-box;
}

.blog-section-ctl-wrapper {
  position: absolute;
  display: inline-block;
  right: 6px;
  top: -23px;
  width: auto;
  text-align: center;
  background-color: var(--base-light);
  border: 1px solid var(--base-dark);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  box-sizing: border-box;
  border-bottom: none;
  z-index: 2;
}

.blog-section-ctl {
  border-radius: 4px;
  border: 0px;
  height: 20px;
  width: 20px;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  margin: 2px 0px 2px 2px;
  padding: 2px;
  background-color: var(--base-blue);
}

.blog-section-ctl.del {
  background-color: var(--base-red);
}

.blog-section-ctl:last-child {
  margin: 2px;
}

.blog-section-ctl:not(.del):hover {
  background-color: var(--hilight-blue);
}

.blog-section-ctl.del:hover {
  background-color: var(--hilight-red);
}

.blog-section-wrapper.first .blog-section-ctl.up,
.blog-section-wrapper.last .blog-section-ctl.down {
  pointer-events: none;
  background-color: var(--base-mid);
}

.new-blog-item-publish {
  display: block;
  position: relative;
  height: 25px;
  margin-bottom: 5px;
  padding-left: 2px;
}

.new-blog-item-publish .text
{
  display: inline-block;
  line-height: 25px;
}

.new-blog-item-publish-inline {
  display: inline-block;
  vertical-align: top;
}

.new-blog-item-publish .checkmark {
  border-radius: 4px;
  border: 1px solid var(--base-dark);
}