.gallery-layout {
  display: block;
  position: relative;
  width: 66.7vw;
  margin-left: 16.65vw;
}

.navigation-menu+.panel .gallery-layout {
  margin-left: 12.15vw;
}

.navigation-menu:hover +.panel .gallery-layout  {
  margin-left: 2.15vw;
}

#gallery-item-gallery {
  width: 100%;
}