#login-form {
  display: block;
  position: absolute;
  width: 360px;
  height: 320px;
  top: 50%;
  left: 50%;
  margin-left: -180px;
  margin-top: -160px;
  background-color: var(--base-light);
  border: 1px solid var(--base-dark);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 30px;
}

#login-form > * {
  display: block;
  position: relative;
  box-sizing: border-box;
}

#logo {
  width: 90%;
  height: 40%;
  margin: 0px auto;
  background-image: url(/images/main_logo.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-bottom: 20px;
}

#username,
#password {
  width: 100%;
  border: 1px solid var(--base-dark);
  background-color: var(--base-light);
  font-size: 1em;
  line-height: 1.6em;
  margin-bottom: -1px;
  padding: 5px;
}

#username
{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#password
{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 20px;
}

#password[error] {
  border: 1px solid var(--base-red);
  background-color: var(--hilight-red);
}

#login-form ::selection,
#login-form::-moz-selection {
  background: var(--hilight-blue);
}

#doLogin {
  width: 100%;
  float: right;
}
