.shop-item-layout {
  display: table;
  position: relative;
  width: 96vw;
  vertical-align: top;
  table-layout: fixed;
  border-spacing: 1vw 0px;
  margin: 0px -1vw;
}

.navigation-menu:hover + .panel .shop-item-layout {
  width: 86vw;
}

.shop-item-layout > * {
  max-width: 100%;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: top;
}

.shop-item-layout h2 {
  display: block;
  font-size: 1.5em;
  line-height: 1.6em;
  width: 100%;
}

.shop-item-layout .text-field {
  display: inline-block;
  width: 100%;
  min-height: 2em;
  background-color: var(--base-light);
  border: 2px solid var(--base-dark);
  border-radius: 4px;
  padding: 0em 0.1em;
  box-sizing: border-box;
}

.shop-item-layout .thumb-preview {
  height: 28.125vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid var(--base-dark);
  border-radius: 4px;
  background-color: var(--base-light);
}

.thumb-preview iframe {
  width: 100%;
  height: 100%;
}

#shop-item-gallery {
  width: 70%;
}

.info-block {
  width: 30%;
  background-image: url(/images/white_bg.jpg);
  background-repeat: repeat;
  background-size: 100px;
  border: 1px solid var(--base-dark);
  border-radius: 4px;
  padding: 10px;
}