html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::-moz-focus-inner {
  border: 0;
}

a:link {
  /* Applies to all unvisited links */
  text-decoration: none;
  background-color: transparent;
  color: transparent;
}

a:visited {
  /* Applies to all visited links */
  text-decoration: none;
  background-color: transparent;
  color: transparent;
}

a:hover {
  /* Applies to links under the pointer */
  text-decoration: none;
  background-color: transparent;
  color: transparent;
}

a:active {
  /* Applies to activated links */
  text-decoration: none;
  background-color: transparent;
  color: transparent;
}

@font-face {
  font-family: write;
  src: url(/fonts/AlexBrush-Regular.ttf);
}

@font-face {
  font-family: LobsterTwo;
  src: url(/fonts/LobsterTwo-Regular.otf);
}

:root {
  --base-light: #fcfcfc;
  --base-mid: #afafaf;
  --base-dark: #303030;
  --base-shadow: #292929;
  --text-color: #292929;
  --text-invert-color: #fcfcfc;
  --placeholder-text-color: #9c9c9c;
  --text-shadow-color: #fcfcfc;
  --text-invert-shadow-color: #000000;
  --base-red: #bf4040;
  --hilight-red: #d88c8c;
  --base-blue: #336699;
  --hilight-blue: #84a3c1;
  --base-green: #669933;
  --hilight-green: #b2cc99;
  --base-min-width: 1080px;
}

h1 {
  font-size: 2em !important;
  line-height: 2.2em;
}

h2 {
  font-size: 1.6em !important;
  line-height: 1.8em;
}

h3 {
  font-size: 1.2em !important;
  line-height: 1.4em;
}

html {
  font-family: LobsterTwo;
  min-width: var(--base-min-width);
  width: 100%;
  background-color: var(--base-light);
  scroll-behavior: smooth;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

body {
  position: initial;
  font-family: LobsterTwo;
  min-width: var(--base-min-width);
  width: 100%;
  min-width: 720px;
  overflow: hidden;
  background-color: var(--base-light);
  scroll-behavior: smooth;
  min-height: 100%;
}

#loader {
  width: 100%;
  height: 100%;
  background-color: #303030;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: center;
}

#loader[loaded="1"] {
  display: none !important;
}

#loader div {
  position: relative;
  display: block;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  line-height: 80px;
  height: 80px;
  font-size: 70px;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -40px;
  left: 0;
  color: #fcfcfc;
}

input {
  background: none;
  border: none;
  font: inherit;
  text-align: inherit;
  line-height: inherit;
}

textarea {
  background: none;
  border: none;
  font: inherit;
  text-align: inherit;
  line-height: inherit;
  resize: none;
  height: auto;
  overflow: hidden;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: none;
  background: none;
  box-shadow: none;
  outline: none;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*[placeholder] {
  color: var(--placeholder-text-color);
}

.robo-text {
  display: none;
}

*:focus {
  outline: none;
}

::selection,
::-moz-selection {
  text-shadow: none;
}

*[currency]::after {
  content: attr(currency);
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.written-text {
  font-family: write;
}

.panel {
  padding: 5px;
  display: inline-block;
  min-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

.header-text {
  color: var(--text-color);
  font-size: 1.2em;
}

.text {
  color: var(--text-color);
  font-size: 1.1em;
}

.text-invert {
  color: var(--text-invert-color);
  font-size: 1.1em;
}

.text-invert-light {
  color: var(--text-invert-color);
  font-size: 1.1em;
}

.control-button {
  display: inline-block;
  height: 40px;
  width: 120px;
  line-height: 40px;
  text-align: center;
  margin: 0px 10px;
  cursor: pointer;
}

.control-button:first-of-type {
  margin-left: 0px;
}

.control-button.green {
  background-color: var(--base-green);
}

.control-button.green:hover {
  background-color: var(--hilight-green);
}

.common-btn {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
  margin: 2px;
}

.common-btn.blue {
  background: var(--base-blue);
  color: var(--text-invert-color);
}

.common-btn.blue:hover {
  background: var(--hilight-blue);
  color: var(--text-color);
}

.common-btn.green {
  background: var(--base-green);
  color: var(--text-invert-color);
}

.common-btn.green:hover {
  background: var(--hilight-green);
  color: var(--text-color);
}

.common-btn.red {
  background: var(--base-red);
  color: var(--text-invert-color);
}

.common-btn.red:hover {
  background: var(--hilight-red);
  color: var(--text-color);
}

#header {
  position: relative;
  display: block;
  height: 80px;
  width: 100%;
  min-width: 100%;
  z-index: 100;
  background: var(--base-light);
  box-shadow: 0px 6px 4px -4px var(--base-shadow);
}

#title {
  position: relative;
  display: inline-block;
  height: 70px;
  width: 389px;
  margin-top: 5px;
  margin-left: 5px;
  background-image: url(/images/main_logo.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#main-menu {
  position: absolute;
  display: block;
  left: 400px;
  top: 20px;
  right: 10px;
  width: auto;
  height: 40px;
  float: right;
  text-align: right;
  white-space: nowrap;
}

#main-menu span {
  display: inline-block;
  position: relative;
  margin: 0px;
  padding: 0px;
  height: 40px;
}

#main-menu a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  color: var(--text-color);
}

#main-menu a:hover {
  cursor: pointer;
  color: var(--base-blue);
}

#main-menu .menu-item {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 120px;
  margin-right: 5px;
  text-align: right;
  line-height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 2px solid var(--base-blue);
}

#main-menu .menu-dropdown {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#main-menu .menu-dropdown-content {
  position: absolute;
  display: none;
  width: 125px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0px 5px;
  background-color: var(--base-light);
  overflow: hidden;
  z-index: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 4px 2px 0px var(--base-dark);
}

#main-menu .menu-item:hover .menu-dropdown-content {
  display: block;
  z-index: 100;
}

#content {
  position: absolute;
  display: block;
  overflow: auto;
  box-sizing: border-box;
  background-image: url(/images/black_bg.jpg);
  background-size: 200px;
  background-repeat: repeat;
  padding-top: 80px;
  min-width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
